<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>
</head>
<body>
    <h2>이유진의 홈페이지</h2>
    <p><%=name%>님 환영합니다</p>
    <p><a href="./news">뉴스</a><a href="./favorite.html">즐겨찾기</a><a href="./resume.html">이력서</a></p> <!--href: request 전달 함 -->
</body>
</html>